# GUI ライブラリ
kivy
kivymd
git+https://github.com/kivy/plyer
kivy-garden
japanize-kivy

# 計算ライブラリ
# pytorch関連
torch
torchaudio
torchnmf
# asteroid

# etc
scikit-learn
librosa
pyobjus
tqdm

# 音声再生ライブラリ
ffpyplayer

# 描画ライブラリ
matplotlib
