# GUI
kivy
kivy-garden
japanize-kivy
#git+https://github.com/kivy/plyer
plyer
pyobjus
kivymd

# 音声再生
ffpyplayer

# グラフ描画
matplotlib

# pytorch
torch
torchaudio
torchnmf

# 科学計算
scikit-learn
scipy

# 音声信号処理
librosa
pyroomacoustics
nara_wpe

# etc
tqdm