# GUI ライブラリ
https://github.com/kivymd/KivyMD/archive/master.zip # latest kivyMD
kivy-garden
japanize-kivy

# 計算ライブラリ
# pytorch関連
torch
torchaudio
torchnmf
asteroid
# etc
numpy
scikit-learn
librosa

# 音声再生ライブラリ
ffpyplayer

# 描画ライブラリ
matplotlib==3.1.3
